<section class='tech__main__footer'>
  <div class='footer-inner'>
    <div class='footer-left'>
      <%if @user.blank? %>
        <div class='footer-photo' style='background-image: '></div>
      <%else%>
        <div class='footer-photo' style='background-image: url(<%= @user.image.url %>)'></div>
      <%end%>

    </div>
    <div class='footer-right'>
      <%if @user.present? %>
        <h3 class='footer-title'><%= @user.name %> </h3>
        <p class='footer-profile'><%= @user.introduction%></p>
      <%end%>
  </div>
</section>
<section class='tech__footer'>
  &copy;
  2018
  Myblog.jp
</section>
