h1 パスワードリセット

p パスワードをリセットするには、次のリンクをクリックしてください：

= link_to "Reset password", edit_password_reset_url(@user.reset_token,mail: @user.mail)

p このリンクの有効期限は2時間です。

p
  パスワードの再設定を要求していない場合は、このメールを無視してください。
  あなたのパスワードはそのままです。
