
<article class="tech-article">
  <h2 class="tech-article__title"><%= @post.title %></h2>
  <!-- 改行を有効にする：simple_format -->
  <div class="tech-article__body">
    <%= markdown(@post.body) %>
  </div>

  <%= link_to '戻る', :back %>
</article>
